eventService/src/main/resources/EventService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://it.univaq.sose.ifame/eventservice" 
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
	xmlns:wsp="http://www.w3.org/ns/ws-policy" 
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" 
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	name="eventservice" 
	targetNamespace="http://it.univaq.sose.ifame/eventservice">
	
	<wsdl:types>
		<xsd:schema xmlns="http://it.univaq.sose.ifame/eventservice" elementFormDefault="unqualified" targetNamespace="http://it.univaq.sose.ifame/eventservice">

    		<xsd:element name="singleEventElementRequest" type="tns:singleEventRequest"/>
    		<xsd:complexType name="singleEventRequest">
		        <xsd:sequence>
		        	<xsd:element name="eventId" type="xsd:int"/>
		        </xsd:sequence>
    		</xsd:complexType>
    		    		
    		<xsd:element name="eventListElementRequest" type="tns:eventListRequest"/>
    		<xsd:complexType name="eventListRequest">
		        <xsd:sequence>
		        	<xsd:element name="ownerId" type="xsd:int"/>
		            <xsd:element name="latitude" type="xsd:double"/>
		            <xsd:element name="longitude" type="xsd:double"/>
		            <xsd:element name="eventDate" type="xsd:date"/>
		            <xsd:element name="eventIds" maxOccurs="unbounded" minOccurs="0" type="xsd:int"/>
		            <xsd:element name="foodCategories" maxOccurs="unbounded" minOccurs="0" type="tns:foodCategory"/>
		        </xsd:sequence>
    		</xsd:complexType>
    		
    		<xsd:element name="eventCreationElementRequest" type="eventCreationRequest"/>
    		<xsd:complexType name="eventCreationRequest">
		        <xsd:sequence>
					<xsd:element name="event" type="eventDetails"/>
		        </xsd:sequence>
    		</xsd:complexType>

    		<xsd:element name="eventRemoveElementRequest" type="eventRemoveRequest"/>
    		<xsd:complexType name="eventRemoveRequest">
		        <xsd:sequence>
		            <xsd:element name="eventId" type="xsd:int"/>
		        </xsd:sequence>
    		</xsd:complexType>
    		
    		<xsd:element name="eventUpdateElementRequest" type="eventUpdateRequest"/>
    		<xsd:complexType name="eventUpdateRequest">
		        <xsd:sequence>
		            <xsd:element name="event" type="eventDetails"/>
		        </xsd:sequence>
    		</xsd:complexType>
    		
			<xsd:element name="eventListElementResponse" type="tns:eventListResponse"/>
			<xsd:complexType name="eventListResponse">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="events" type="tns:eventDetails"/>
				</xsd:sequence>
			</xsd:complexType>
    		
    		<xsd:element name="singleEventElementResponse" type="tns:singleEventResponse"/>
    		<xsd:complexType name="singleEventResponse">
				<xsd:sequence>
					<xsd:element name="event" type="tns:eventDetails"/>
				</xsd:sequence>
   			</xsd:complexType> 
   			
   			<xsd:element name="eventCreationElementResponse" type="tns:createEventResponse"/>
    		<xsd:complexType name="createEventResponse">
				<xsd:sequence>
					<xsd:element name="eventId" type="xsd:int"/>
				</xsd:sequence>
   			</xsd:complexType>
   			
   			<xsd:element name="foodCategoriesElementResponse" type="foodCategoriesResponse"/>
    		<xsd:complexType name="foodCategoriesResponse">
		        <xsd:sequence>
		            <xsd:element name="foodCategories" maxOccurs="unbounded" minOccurs="0" type="tns:foodCategory"/>
		        </xsd:sequence>
    		</xsd:complexType>
   			
		    <xsd:complexType name="eventDetails">
		        <xsd:sequence>
		        	<xsd:element name="id" type="xsd:int"/>
		            <xsd:element name="title" type="xsd:string"/>
		            <xsd:element name="restaurantId" type="xsd:int"/>
		            <xsd:element name="restaurantName" type="xsd:string"/>
		            <xsd:element name="description" type="xsd:string"/>
		            <xsd:element name="eventDate" type="xsd:date"/>
		            <xsd:element name="eventTime" type="xsd:time"/>
		            <xsd:element name="latitude" type="xsd:double"/>
	      			<xsd:element name="longitude" type="xsd:double"/>
	      			<xsd:element name="city" type="xsd:string"/>
		            <xsd:element name="foodCategories" maxOccurs="unbounded" minOccurs="0" type="tns:foodCategory"/>
		            <xsd:element name="participantNumber" type="xsd:int"/>
		            <xsd:element name="image" type="xsd:string"/>
		            <xsd:element name="ownerId" type="xsd:int"/>
		        </xsd:sequence>
		    </xsd:complexType>

		    <xsd:simpleType name="foodCategory">
		        <xsd:restriction base="xsd:string">
		            <xsd:enumeration value="fish"/>
		            <xsd:enumeration value="meal"/>
		            <xsd:enumeration value="sushi"/>
		            <xsd:enumeration value="pizza"/>
		            <xsd:enumeration value="hamburger"/>
		            <xsd:enumeration value="ethnic"/>
		        </xsd:restriction>
		    </xsd:simpleType>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="singleEventMessageRequest">
    	<wsdl:part element="tns:singleEventElementRequest" name="parameters">
    	</wsdl:part>
  	</wsdl:message>
  	
  	<wsdl:message name="singleEventMessageResponse">
    	<wsdl:part element="tns:singleEventElementResponse" name="parameters">
    	</wsdl:part>
  	</wsdl:message>
  		
	<wsdl:message name="eventListMessageRequest">
    	<wsdl:part element="tns:eventListElementRequest" name="parameters">
    	</wsdl:part>
  	</wsdl:message>
  	
  	<wsdl:message name="eventListMessageResponse">
    	<wsdl:part element="tns:eventListElementResponse" name="parameters">
    	</wsdl:part>
  	</wsdl:message>
  	
  	<wsdl:message name="eventCreationMessageRequest">
    	<wsdl:part element="tns:eventCreationElementRequest" name="parameters">
    	</wsdl:part>
  	</wsdl:message>
  	
  	<wsdl:message name="eventCreationMessageResponse">
    	<wsdl:part element="tns:eventCreationElementResponse" name="parameters">
    	</wsdl:part>
  	</wsdl:message>

  	<wsdl:message name="eventUpdateMessageRequest">
    	<wsdl:part element="tns:eventUpdateElementRequest" name="parameters">
    	</wsdl:part>
  	</wsdl:message>
  	
  	<wsdl:message name="eventRemoveMessageRequest">
    	<wsdl:part element="tns:eventRemoveElementRequest" name="parameters">
    	</wsdl:part>
  	</wsdl:message>
  	
  	<wsdl:message name="emptyMessageRequest"></wsdl:message>
  	
  	<wsdl:message name="foodCategoriesMessageResponse">
    	<wsdl:part element="tns:foodCategoriesElementResponse" name="parameters">
    	</wsdl:part>
  	</wsdl:message>
  
  	<wsdl:portType name="EventServicePT">

    	<wsdl:operation name="eventDetails">
      		<wsdl:input message="tns:singleEventMessageRequest">
    		</wsdl:input>
      		<wsdl:output message="tns:singleEventMessageResponse">
    		</wsdl:output>
    	</wsdl:operation>
    	    	
    	<wsdl:operation name="eventList">
      		<wsdl:input message="tns:eventListMessageRequest">
    		</wsdl:input>
      		<wsdl:output message="tns:eventListMessageResponse">
    		</wsdl:output>
    	</wsdl:operation>
    	
    	<wsdl:operation name="eventCreation">
      		<wsdl:input message="tns:eventCreationMessageRequest">
    		</wsdl:input>
    		<wsdl:output message="tns:eventCreationMessageResponse">
    		</wsdl:output>
    	</wsdl:operation>
    	
    	<wsdl:operation name="eventUpdate">
      		<wsdl:input message="tns:eventUpdateMessageRequest">
    		</wsdl:input>
    	</wsdl:operation>
    	
    	<wsdl:operation name="eventRemove">
      		<wsdl:input message="tns:eventRemoveMessageRequest">
    		</wsdl:input>
    	</wsdl:operation>
    	
    	<wsdl:operation name="allFoodCategories">
    		<wsdl:input message="tns:emptyMessageRequest"></wsdl:input>
      		<wsdl:output message="tns:foodCategoriesMessageResponse">
    		</wsdl:output> 
    	</wsdl:operation>
	</wsdl:portType>
  	
  	<wsdl:binding name="EventServiceBinding" type="tns:EventServicePT">
    	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    	<wsdl:operation name="eventDetails">
	    	<soap:operation soapAction=""/>
	      	<wsdl:input> 
	        	<soap:body use="literal"/>
	      	</wsdl:input>
	      	<wsdl:output>
	        	<soap:body use="literal"/>
	      	</wsdl:output>
	    </wsdl:operation>
	        	
    	<wsdl:operation name="eventList">
	    	<soap:operation soapAction=""/>
	      	<wsdl:input>
	        	<soap:body use="literal"/>
	      	</wsdl:input>
	      	<wsdl:output>
	        	<soap:body use="literal"/>
	      	</wsdl:output> 
	    </wsdl:operation>
	    
	    <wsdl:operation name="eventCreation">
      		<soap:operation soapAction=""/>
      		<wsdl:input>
        		<soap:body use="literal"/>
      		</wsdl:input>
      		<wsdl:output>
	        	<soap:body use="literal"/>
	      	</wsdl:output>
    	</wsdl:operation>
    	
    	<wsdl:operation name="eventUpdate">
      		<soap:operation soapAction=""/>
      		<wsdl:input>
        		<soap:body use="literal"/>
      		</wsdl:input>
    	</wsdl:operation>
    	
    	<wsdl:operation name="eventRemove">
      		<soap:operation soapAction=""/>
      		<wsdl:input>
        		<soap:body use="literal"/>
      		</wsdl:input>
    	</wsdl:operation>
    	
    	<wsdl:operation name="allFoodCategories">
      		<soap:operation soapAction=""/> 
      		<wsdl:input></wsdl:input>
      		<wsdl:output>
        		<soap:body use="literal"/>
      		</wsdl:output> 
    	</wsdl:operation>
	</wsdl:binding>
  	
  	<wsdl:service name="EventService">
    	<wsdl:port binding="tns:EventServiceBinding" name="EventServicePort">
      		<soap:address location="http://localhost:8080/eventService/eventService"/>
    	</wsdl:port>
  	</wsdl:service>
</wsdl:definitions>
