restaurantService/src/main/resources/restaurantservice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://it.univaq.sose.restaurantservice/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	name="RestaurantService" 
	targetNamespace="http://it.univaq.sose.restaurantservice/">
	
	<wsdl:types>
    	<xsd:schema targetNamespace="http://it.univaq.sose.restaurantservice/">
	  		
	  		<xsd:element name="restaurantRequest" type="tns:restaurantRequest"/>
		
	  		<xsd:element name="restaurantResponse" type="tns:restaurantResponse"/>
	
		  	<xsd:complexType name="restaurantRequest">
		    	<xsd:sequence>
		    		<xsd:element minOccurs="0" name="id" type="xsd:int"/>
		      		<xsd:element minOccurs="0" name="city" type="xsd:string"/>
	      			<xsd:element minOccurs="0" name="latitude" type="xsd:double"/>
	      			<xsd:element minOccurs="0" name="longitude" type="xsd:double"/>
	      			<xsd:element minOccurs="0" maxOccurs="unbounded" name="foodCategories" type="tns:foodCategory"/>
		    	</xsd:sequence>
		  	</xsd:complexType>
	
	  		<xsd:complexType name="restaurant">
	    		<xsd:sequence>
	    			<xsd:element minOccurs="0" name="id" type="xsd:int"/>
	      			<xsd:element minOccurs="0" name="name" type="xsd:string"/>
	      			<xsd:element minOccurs="0" name="latitude" type="xsd:double"/>
	      			<xsd:element minOccurs="0" name="longitude" type="xsd:double"/>
	      			<xsd:element minOccurs="0" name="city" type="xsd:string"/>
	      			<xsd:element minOccurs="0" name="state" type="xsd:string"/>
	      			<xsd:element minOccurs="0" name="street" type="xsd:string"/>
	      			<xsd:element minOccurs="0" maxOccurs="unbounded" name="foodCategories" type="tns:foodCategory"/>
	    		</xsd:sequence>
	  		</xsd:complexType>
	
	  		<xsd:complexType name="restaurantResponse">
	    		<xsd:sequence>
	      			<xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:restaurant"/>
	    		</xsd:sequence>
	  		</xsd:complexType>
	
			<xsd:simpleType name="foodCategory">
		        <xsd:restriction base="xsd:string">
		            <xsd:enumeration value="fish"/>
		            <xsd:enumeration value="meal"/>
		            <xsd:enumeration value="sushi"/>
		            <xsd:enumeration value="pizza"/>
		            <xsd:enumeration value="hamburger"/>
		            <xsd:enumeration value="ethnic"/>
		        </xsd:restriction>
		    </xsd:simpleType>
    	</xsd:schema>
  	</wsdl:types>

  	<wsdl:message name="restaurantRequest">
    	<wsdl:part element="tns:restaurantRequest" name="parameters"></wsdl:part>
  	</wsdl:message>
  	
  	<wsdl:message name="restaurantResponse">
    	<wsdl:part element="tns:restaurantResponse" name="parameters"></wsdl:part>
  	</wsdl:message>
  	
  	<wsdl:portType name="RestaurantServicePT">
    	<wsdl:operation name="getRestaurants">
      		<wsdl:input message="tns:restaurantRequest" name="restaurantRequest">
    		</wsdl:input>
      		<wsdl:output message="tns:restaurantResponse" name="restaurantResponse">
    		</wsdl:output>
    	</wsdl:operation>
  	</wsdl:portType>

  	<wsdl:binding name="RestaurantServiceBinding" type="tns:RestaurantServicePT">
    	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    	<wsdl:operation name="getRestaurants">
      		<soap:operation soapAction="" style="document"/>
      		<wsdl:input name="restaurantRequest">
        		<soap:body use="literal"/>
      		</wsdl:input>
      		<wsdl:output name="restaurantResponse">
        		<soap:body use="literal"/>
      		</wsdl:output>
    	</wsdl:operation>
  	</wsdl:binding>
 
   	<wsdl:service name="RestaurantService"> 
    	<wsdl:port binding="tns:RestaurantServiceBinding" name="RestaurantServicePort">
      		<soap:address location="http://localhost:8080/restaurantService/restaurantService"/>
    	</wsdl:port>
  	</wsdl:service>

</wsdl:definitions>
