restaurantService/wsdl/restaurantservice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://it.univaq.sose.restaurantservice/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	name="RestaurantService" 
	targetNamespace="http://it.univaq.sose.restaurantservice/">
	
	<wsdl:types>
    	<xsd:schema targetNamespace="http://it.univaq.sose.restaurantservice/">
	  		
	  		<xsd:element name="restaurantRequest" type="tns:restaurantRequest"/>
		
	  		<xsd:element name="restaurantResponse" type="tns:restaurantResponse"/>
	
		  	<xsd:complexType name="restaurantRequest">
		    	<xsd:sequence>
		      		<xsd:element minOccurs="0" name="city" type="xsd:string"/>
	      			<xsd:element minOccurs="0" name="latitude" type="xsd:double"/>
	      			<xsd:element minOccurs="0" name="longitude" type="xsd:double"/>
		    	</xsd:sequence>
		  	</xsd:complexType>
	
	  		<xsd:complexType name="restaurant">
	    		<xsd:sequence>
	      			<xsd:element minOccurs="0" name="name" type="xsd:string"/>
	      			<xsd:element minOccurs="0" name="latitude" type="xsd:double"/>
	      			<xsd:element minOccurs="0" name="longitude" type="xsd:double"/>
	      			<xsd:element minOccurs="0" name="city" type="xsd:string"/>
	      			<xsd:element minOccurs="0" name="state" type="xsd:string"/>
	      			<xsd:element minOccurs="0" name="street" type="xsd:string"/>
	    		</xsd:sequence>
	  		</xsd:complexType>
	
	  		<xsd:complexType name="restaurantResponse">
	    		<xsd:sequence>
	      			<xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:restaurant"/>
	    		</xsd:sequence>
	  		</xsd:complexType>
	
    	</xsd:schema>
  	</wsdl:types>

  	<wsdl:message name="restaurantMessageRequest">
    	<wsdl:part element="tns:restaurantRequest" name="parameters"></wsdl:part>
  	</wsdl:message>
  	
  	<wsdl:message name="restaurantMessageResponse">
    	<wsdl:part element="tns:restaurantResponse" name="parameters"></wsdl:part>
  	</wsdl:message>
  	
  	<wsdl:portType name="RestaurantServiceWS">
    	<wsdl:operation name="getRestaurants">
      		<wsdl:input message="tns:restaurantMessageRequest" name="restaurantRequest">
    		</wsdl:input>
      		<wsdl:output message="tns:restaurantMessageResponse" name="restaurantResponse">
    		</wsdl:output>
    	</wsdl:operation>
  	</wsdl:portType>

  	<wsdl:binding name="RestaurantServiceWSSOAP" type="tns:RestaurantServiceWS">
    	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    	<wsdl:operation name="getRestaurants">
      		<soap:operation soapAction="" style="document"/>
      		<wsdl:input name="restaurantRequest">
        		<soap:body use="literal"/>
      		</wsdl:input>
      		<wsdl:output name="restaurantResponse">
        		<soap:body use="literal"/>
      		</wsdl:output>
    	</wsdl:operation>
  	</wsdl:binding>
 
   	<wsdl:service name="RestaurantServiceWS"> 
    	<wsdl:port binding="tns:RestaurantServiceWSSOAP" name="RestaurantServiceWSPort">
      		<soap:address location="http://localhost:8081/restaurant/restaurantservice"/>
    	</wsdl:port>
  	</wsdl:service>

</wsdl:definitions>
